@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  height: 100vh;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.header {
  font-size: 18px;
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
}

.header-logo {
  font-size: 24px;
  font-weight: 900;
  display: flex;
  flex: 1;
}

.header-links {
  display: flex;
  list-style-type: none;
  color: #e5e7eb;
  gap: 20px;
}

.section-1,
.section-2,
.section-3,
.section-4 {
  display: flex;
  justify-content: center;
  padding: 30px 15%;
  gap: 20px;
}
.section-1 {
  background-color: #1f2937;
  color: #f9faf8;
  gap: 5%;
}
.hero-left {
  display: flex;
  flex-direction: column;
  color: #e5e7eb;
  align-items: start;
  
  flex: 1;
}
h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0px;
}
button {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: #f9faf8;
}

.hero-right {
  display: flex;
  justify-content: center;
}

.hero-right > img {
  align-self: center;
  width: 500px;
  border-radius: 1px;
  border: 2px;
  border-style: solid;
  border-color: #f9faf8;
}

#tittle-section-2 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  margin-top: 30px;
}

.section-2 {
  flex-wrap: wrap;
  gap: 20px;
}

.img-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.img-conteiner > img {
  margin-bottom: 10px;
  border-radius: 20px;
  border: 4px;
  border-style: solid;
  border-color: #3882f6;
}

.section-3 {
  background-color: #e5e7eb;
  flex-direction: column;
  padding: 5% 25%;
}
.section-3 > p {
  font-style: italic;
  font-size: 30px;
  margin: 0;
}
.text-autor {
  text-align: right;
  font-weight: bold;
  font-size: larger;
}

.section-4 {
  padding: 5% 15%;
}

.signup-panel {
  display: flex;
  flex: 1;
  gap: 40px;
  justify-content: center;
  color: #f9faf8;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 40px;
  align-items: center;
  justify-content: space-around;
}

.signup-panel > div > * {
  margin: 3px;
}
.footer {
  height: 72px;
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  flex-shrink: 0;
}
